.blog-container {
  background-color: paleturquoise;
  width: 90%;
  margin-left: 36px;
  margin-top: 32px;
  .editor-container{
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}