.blog-container {
  width: 90%;
  margin-left: 36px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  .editor-section{
    .title, .ant-input-borderless{
      margin-bottom: 12px;
      border-bottom: 1px solid #cfd8dc;
    }
    .tags {
      display: flex;
      flex-direction: row;
      margin-bottom: 12px;
    }
    .covers{
      margin-bottom: 12px;
    }
  }
  .button-bar{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-btn {
      margin-right: 20px;
    }
  }
  
}
